body {
    font-family: sans-serif;
}

header {
    background-color:  black;
    padding: 15px;;
}

.link-header{
    color: white;
    background-color: darkgrey;
}

.link-nav {
    color: black;
}

.link-text {
    color:darkseagreen;
}

footer img {
    margin: 10px;
}

ol {
    color: grey;
}

p {
    color: grey;
}
