body {
    font-family: sans-serif;
}

header {
    background-color: black;
    padding: 15px;
}

.link-header{
    color: white;
    background-color: darkgrey;
}

.link-nav {
    color: black;
}
footer img {
    margin: 10px;
}
